"*":
  "atom-beautify":
    general:
      _analyticsUserId: "64cdcc02-ff9d-4a4c-abe9-9df0e0968769"
    html:
      indent_size: 2
  core:
    disabledPackages: [
      "preview-tabs"
      "script"
    ]
    ignoredNames: [
      ".DS_Store"
      ".bundle"
      ".git"
    ]
    projectHome: "/Users/justas/Projects"
  editor:
    backUpBeforeSaving: true
    fontFamily: "Menlo"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "a16fb11c-80f5-993c-dac9-27e736ff535e"
  linter:
    showErrorPanel: false
  "linter-rubocop":
    command: "/Users/jpalumickas/.rbenv/shims/rubocop"
  "linter-scss-lint":
    scssLintExecutablePath: "/Users/jpalumickas/.rbenv/shims/scss-lint"
  "release-notes":
    viewedVersion: "0.95.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  "tree-view":
    hideIgnoredNames: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
