'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-l': 'window:focus-pane-on-right'
  'ctrl-p': 'fuzzy-finder:toggle-file-finder'

'atom-text-editor.vim-mode-plus.normal-mode':
  'd s': 'vim-mode-plus:delete-surround-any-pair'
  'c s': 'vim-mode-plus:change-surround-any-pair'

'.tree-view':
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-l': 'window:focus-pane-on-right'
  'ctrl-p': 'fuzzy-finder:toggle-file-finder'
  'g g': 'core:move-to-top'
  'shift-g': 'core:move-to-bottom'
